<!DOCTYPE html>
<html>
<head>
<!-- mobile first -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- TODO: package jquery instead of pulling from the CDN -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- patternfly stuff --> 
<link rel="stylesheet" type="text/css" href="/assets/css/patternfly.css">
<script src="/assets/js/patternfly.js"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
