{# password reset request form #}

{% extends "layout.html" %}
{% block content %}

<div class="errors">
{% if errors %}
    {{ errors }}
{% endif %}
</div>

<div>
    <form action="/request_reset" method="POST">
        <div>
            <label>Username:</label>
            <input type="text" name="username">
        </div>
        <div style='display: none'>
            <input type="hidden" name="solution" value="{{ captcha.solution_hash() }}" />
        </div>
        <div>
            <img src='{{ captcha.datauri() }}'>
            <p>Type the letters and numbers in the box</p>
            <label>Answer:</label>
            <input type="text" name="response" />
        </div>
        <div class="button">
            <button type="submit">Request Reset</button>
        </div>
    </form>
</div>

{% endblock %}
