{# password reset request form #}

{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2>Request a Password Reset</h2>

    {% if errors %}
    <div class="row">
        <div class="alert alert-danger col-sm-offset-2 col-sm-6">
            <p>{{ errors }}</p>
        </div>
    </div>
    {% endif %}

    <form action="/request_reset" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username" />
            </div>
        </div>
        <div style='display: none'>
            <input type="hidden" name="solution" value="{{ captcha.solution_hash() }}" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <img src='{{ captcha.datauri() }}'>
                <p class="help-block">Type the letters and numbers in the box</p>
                <label for="response" class="control-label">Answer:</label>
                <input type="text" class="form-control" name="response" />
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg">Request Reset</button>
        </div>
    </form>
</div>

{% endblock %}
