{# password reset completion form #}
{% extends "layout.html" %}

{% block content %}
<div>
    <form action="/reset_password" method="POST">
        <div>
            <label>Username:</label>
            <input type="text" name="username" value="{{ username }}" />
        </div>
        <div>
            <label>Token:</label>
            <input type="text" name="token" value="{{ token }}" />
        </div>
        <div class="button">
            <button type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
